
/********************** Contactos **********************/

 

.contactos .titulo {
    font-size: 2.5rem;
    font-weight: normal; 
    color: var(--light-color-white);
    text-transform: none;
}


.contactos .site-contacto{
    font-weight: bold;
    color: var(--black);
    font-style: normal;
    font-size: 2rem;
}


.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.icons a{
    margin: 1.3rem 0.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}
.icons a .layer{
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s;
}
.icons a:hover .layer{
    /* transform: rotate(-35deg) skew(20deg); */
    /* border-radius: 40%;
    color:aqua; */
}
.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    border: 0.3rem solid #fff;
    border-radius: 10px;
    transition: all 0.3s;
}

.icons a:hover .layer span{
    border-radius: 1px; 
}
.icons a .layer span.fab{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    line-height: 55px;
}
    
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
    color: #2867B2;
    border-color: #2867B2;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
    color: #000;
    border-color: #000;
}

/* .icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
} */

 

/* .icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}
.icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #454547;
} */
 
 

/********************** Media Q **********************/

@media (max-width: 990px) {
    .icons a .layer span.fab{
        padding-top: 0;
    }
}
 

@media (max-width: 450px) {
    .icons a{
        margin: 2rem 1rem;
    }
}